<p>
  facebook works!
</p>
<div class="btn-group">
<button class="btn btn-primary" (click)="login()">Login To FaceBook</button>
<button class="btn btn-primary" (click)="loginWithOptions()">Login To FaceBook With Options</button><br>
<button class="btn btn-primary" (click)="logout()">Logout From FaceBook</button><br>
</div>
<!--<button class="btn btn-primary" (click)=getusername()>Who Is LoggedIn</button>-->
<!--<button class="btn btn-primary" (click)="getProfile()">Get profile</button>
<button class="btn btn-primary" (click)="getFriends()">Get friends</button>
<button class="btn btn-primary" (click)="loginWithOptions()">Login with Options</button>-->
<p>Name of User:  {{title}}</p><br>
<p>Gender:  {{Gender}}</p><br>
<p>Number Of Freinds:  {{no_friend}}</p><br>
<p>Email:  {{Email}}</p><br>
<p>Total_post:  {{Feed}}</p><br>
<p>Profile-Picture:  <img src="{{image}}"></p><br>

<label>Status:</label>
<input type="text" placeholder="Update Status" #post>
<button class="btn btn-primary" (click)="updatepost(post.value)">Update</button>
<!--<input type="text" #post>
<button (click)="updatepost(post.value)">update</button>-->


<app-page></app-page>